@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>Rocket Internet by TEMPLATE STOCK</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/fonts/bootstrap.min.css">

    <!-- Goggle Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>

    <!-- Font Css -->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="~/fonts/style.css">

    <!-- Animation Css -->
    <link rel="stylesheet" href="~/fonts/animate.css">

</head>
<body>
    <header>
        <div id="homeFullScreen">
            <div class="header-text">
                <h1>pioneer internal</h1>
                <div class="vertical-line"></div>
                
                </div>
            </div>
        
    </header>


    <!-- Main JS -->
    <script type="text/javascript" src="~/fonts/jquery-main.js"></script>

    <!-- Bootstrap JS -->
    <script type="text/javascript" src="~/fonts/bootstrap.min.js"></script>

    <!-- Animation JS -->
    <script type="text/javascript" src="~/fonts/wow.min.js"></script>

    <!-- Custom JS -->
    <script type="text/javascript" src="~/fonts/custom.js"></script>
</body>
</html>