@model Patient
<h3>Are you sure to delete this patient</h3>
<dl>
    <dt>id : </dt>
    <dd>@Model.Id</dd>
    <dt>age : </dt>
    <dd>@Model.Age</dd>
    <dt>name :</dt>
    <dd>@Model.Fullname</dd>
    <dt>@Html.DisplayNameFor(e => e.PersonalImageName)</dt>
    <dd>
        <img src=@("~/images/"+Model.PersonalImageName) width="250" asp-append-version="true" />
    </dd>
</dl>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn-warning">Delete </button>

</form>
<br />
<a asp-controller="Patients" asp-action="Index">Back To List</a>